/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  background: white;
  padding-left: 35%;
  padding-top: 10%;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  width: 90%;
  max-width: 400px;
}

h1 {
  color: #3b5998;
}

.stats p {
  margin: 10px 0;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #dff9fb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 5px 10px;
  border: none;
  background: #00cec9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0984e3;
}
